@{ 
    ViewBag.Title = "About me";
}

<div id="aboutme-section" class="display-middle">
    <div class="aboutme-profile">
        <p class="title">ABOUTME</p>
        <hr class="line aboutme-line" />
        <img class="aboutme-image" src="@Url.Content("~/Assets/Me.jpg")" />
        <div class="aboutme-content">
            <p class="subtitle">JAVIER DE LA RUA MARTINEZ</p>
            <p class="aboutme-text"><span class="fa fa-birthday-cake"></span>22 years old</p>
            <p class="aboutme-text"><span class="fa fa-tags"></span>Student, autodidact, geek</p>
            <p class="aboutme-text"><span class="fa fa-graduation-cap"></span>Degree in Computer Science</p>
            <p class="aboutme-text"><span class="fa fa-building"></span>Universidad Politécnica de Madrid (ETSIINF)</p>
            <p class="aboutme-text"><span class="fa fa-male"></span>Creative, enthusiastic, ambitious, cheerful, confident, reliable...</p>
            <p class="aboutme-text"><span class="fa fa-heart"></span>Learn, research, develop, design, running, rock and classical music, read... </p>
            <p class="aboutme-text"><span class="fa fa-windows"></span>UWP, Xamarin, Azure, Windows Holographic platform, Microsoft Cognitive Services, Visual Studio, C#, .NET... </p>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="aboutme-social">
        <ul>
            <li><a href="https://twitter.com/javierdlrm"><span class="fa fa-twitter-square"></span></a></li>
            <li><a href="https://www.facebook.com/javierdlrm"><span class="fa fa-facebook-square"></span></a></li>
            <li><a href="mailto:?subject=Technical Test checked&amp;body=Hi Javier!"><span class="fa fa-envelope"></span></a></li>
        </ul>
    </div>
</div>