@{
    ViewBag.Title = "Help";
}

<div id="help-section" class="display-middle">
    <div class="help-wrapper">
        <p class="title">INSTRUCTIONS</p>
        <hr class="line help-line" />
        <p class="subtitle">STARTING TEST</p>
        <ul class="help-test">
            <li>Write some text or drag any file into the text field.</li>
            <li>Choose the number of characters per line you want.</li>
            <li>Finally, click on the 'Run test' button for start the technical test!</li>
        </ul>
        <p class="subtitle">RESULT</p>
        <ul class="help-result">
            <li>You can copy easily clicking on the copy icon button.</li>
            <li>You can download a file with the result clicking on the download icon button.</li>
            <li>Or if you want, you can choose another file, another text or another number of characters per line and run the test again!</li>
        </ul>
    </div>
</div>